/* Trent Mick's blog's CSS. Based heavily (at least initially) on
 * <http://html5boilerplate.com/> and on <http://lessframework.com/>.
 */

/* {{{ reset
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* }}} */



/* {{{ vertical rhythm:
 * <http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.2/>
 * - 24px rhythm.
 * - Typefaces I like: Crimson Text, Cuprum, IM Fell English (rough print),
 *   Lobster (heavy), IM Fell DW Pica (awesome for numbers, oldy worldy)
 */
body {
  line-height: 24px;
  font-family: Helvetica,Verdana,Arial,sans-serif;
  font-size: 15px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'IM Fell English';
  font-weight: bold;
  /* http://www.aestheticallyloyal.com/public/optimize-legibility/ */
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 48px 0 24px 0;
}
h2 {
  font-size: 28px;
  line-height: 48px;
  margin: 24px 0 0 0;
}
h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 24px 0 24px 0;
}
h4 {
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0 0 0;
}
h5 {
  font-size: 14px;
  line-height: 24px;
  margin: 24px 0 0 0;
}
h6 {
  color: #666;
  font-size: 14px;
  line-height: 24px;
  margin: 24px 0 0 0;
}
hr {
  /* TODO: can have a centered bgimage decoration for nice hr? */
  margin: -1px 0 0 0;
  margin: 22px 0 24px 0;
}
p + p {
  text-indent: 24px;
  /*margin-top: 24px; /* or this */
}
/* }}} */


/* {{{ other base styles
 * Generally the html5boilerplate stuff is at the top; mine below.
 */

/* http://yui.yahooapis.com/2.8.2r1/build/fonts/fonts.css */
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }

/* #444 looks better than black: http://twitter.com/H_FJ/statuses/11800719859 */
body, select, input, textarea { color:#444; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

a, a:active, a:visited { color:#607890; }
a:hover { color: #B24710; }
/* Accessible focus treatment: http://people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button { width: auto; overflow: visible; }

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


blockquote {
  font-family: "IM Fell English";
  font-size: 18px;
  color: #555;
  margin: 24px 15% 24px 15%;
}
blockquote cite:before {
  content: "\2014 ";
}
blockquote p.hangquotes, blockquote.hangquotes {
  text-indent: -0.5em;
}

/* TODO: interesting bullets: one of the decorations I found */
ol, ul {
  margin: 12px 24px;
}
ol ol, ul ul, ul ol, ol ul {
  margin-left: 24px;
}
ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; }
ol ol ol { list-style-type: upper-roman; }
ol ol ol ol { list-style-type: lower-roman; }

pre {
  background-color: #f5f5f5;
  border: solid #ccc 1px;
  padding: 5px;
  margin: 18px 0;
  /* An alternative to overflow is pre-wrap: <http://www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/> */
  overflow: auto;
}


/* Dark key from <https://github.com/michaelhue/keyscss> */
kbd {
  display: inline;
  display: inline-block;
  min-width: 1em;
  padding: .2em .3em;
  /* TODO: font sizing for this */
  font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  border: none;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(top, rgb(60, 60, 60), rgb(80, 80, 80));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(60, 60, 60)), to(rgb(80, 80, 80)));
  color: rgb(250, 250, 250);
  text-shadow: -1px -1px 0 rgb(70, 70, 70);
  -moz-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
}
kbd[title] {
  cursor: help;
}

/* }}} */


/* {{{ classes */
/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden {
  position:absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent CLEARFIX */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }
/* }}} */


/* {{{ layout
 * TODO: does 'margin: 0 auto' work in old enough IE? if not, switch to text-align hack
 */
/*
body {
  margin: 8px;
}
#wrapper {
  margin: 0 auto;
  width: 650px;
  position: relative;
}
#main {
  min-height: 300px;
}
/* }}} */


/* {{{ play */
/*
   Like:
    Crimson Text
    Cuprum
    IM Fell English (rough print)
    Lobster (heavy)

    IM Fell DW Pica: awesome for numbers, oldy worldy
#header {
  position: relative;
  height: 100px;
}
#header .bar,
#footer .bar {
  width: 100%;
  height: 10px;
  background-color: #3D3D3D;
}
#header .box {
  position: absolute;
  top: 0;
  left: -150px;
  height: 70px;
  width: 70px;
  border: 10px solid #3D3D3D;
}
.tm {
  font-family: 'IM Fell English', serif;
  text-shadow: 6px 6px 6px #ccc;
  font-size: 48px;
  position: relative;
  top: 25px;
  left: 5px;
}
#footer {
  margin-top: 30px;
}
*/
/* }}} */


/* {{{ print */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; }

  abbr:after { content: " (" attr(title) ")"; }

  .ir a:after { content: ""; }  /* Don't show links for images */

  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}
/* }}} */


/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

/* XXX START HERE
- that means that the 3-col layout is the default
- problem is that IE6-IE8 will use that (lame). Add a note box at the top
  of the page: "You are using an old IE browser. Your grand-daugther's phone
  uses a more capable browser! Please upgrade to any of: Firefox, Chrome or,
  if you must, IE 9."
- Make the others use media queries.
- Use the centered layout curr default for the 8-columns and wider (I don't
  use that full width).
- Use this on the wider layouts for dedented lists.
    ol, ul {
      margin: 12px 0;
    }
  But not on narrower, b/c want that room
- less padding for 3 column layout
*/

/*  Default 8-column layout
    60 px columns, 24 px gutters, 60 px margins, 768 px total
    ---------------------------------------------------------
    1     2      3      4      5      6      7      8
    60px  144px  228px  312px  396px  480px  564px  648px   */

body {
    background: rgb(232,232,232);
    padding: 84px 60px 0;
    width: 648px;
    -webkit-tap-highlight-color: rgb(255,255,0);
}



/*  13-column layout
    60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
    ---------------------------------------------------------------------------------------
    1     2      3      4      5      6      7      8      9      10     11     12     13
    60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px   */

@media only screen and (min-width: 1212px) {
    body {
        padding: 96px 72px 0;
        width: 1068px;
    }
}


/*  5-column layout
    60 px columns, 24 px gutters, 42 px margins, 480 px total
    ---------------------------------------------------------
    1     2      3      4      5
    60px  144px  228px  312px  396px    */

@media only screen and (max-width: 767px) and (min-width: 480px) {

    body {
        padding: 48px 42px 0;
        width: 396px;
    }

    /* "overflow:auto" does NOT yield scrollbars in mobile browsers. iPhone
     * *does* support two-finger scrolling inside the pre-block, but that
     * is undiscoverable. Let's pre-wrap.
     */
    pre {
        overflow: inherit;
        white-space: pre;
        white-space: -moz-pre-wrap;
        white-space: -hp-pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

}


/*  3-column layout
    60 px columns, 24 px gutters, 46 px margins, 320 px total
    ---------------------------------------------------------
    1     2      3
    60px  144px  228px  */

@media only screen and (max-width: 479px) {

    body {
        padding: 48px 46px 0;
        width: 228px;
      background: orange; /* XXX*/
    }

    /* "overflow:auto" does NOT yield scrollbars in mobile browsers. iPhone
     * *does* support two-finger scrolling inside the pre-block, but that
     * is undiscoverable. Let's pre-wrap.
     */
    pre {
        overflow: inherit;
        white-space: pre;
        white-space: -moz-pre-wrap;
        white-space: -hp-pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

/* }}} */
