<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">

  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!--[if IE]><![endif]-->

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="Trent Mick's blog">
  <meta name="author" content="Trent Mick">

  <!-- lessframework.com & davidbcalhoun.com/2010/viewport-metatag -->
  <meta name="viewport" content="width=device-width; initial-scale=1;">

  <link rel="stylesheet" href="/css/style.css?v=2">
  <link media="only screen and (min-width: 481px)" rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=IM+Fell+English:regular,italic&subset=latin">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <!--<script src="/js/modernizr-1.5.min.js"></script>-->
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<div id="wrapper">
<header id="header">
  <a id="logo" href="/"><div class="white">Trent</div><div class="black">Mick</div></a>
</header>

<div id="main">
{{ content }}
</div>

<footer id="footer" class="clearfix">
</footer>
</div> <!-- end of #wrapper -->


<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<!-- XXX
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
-->
<script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>

<script src="/js/script.js?v=1"></script>

<!-- XXX
<script type="text/javascript">
var disqus_shortname = 'trentm';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/trentm/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
-->

<!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
     change the UA-XXXXX-X to be your site's ID -->
<!--
<script>
 var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
 (function(d, t) {
  var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
  g.async = true;
  g.src = '//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g, s);
 })(document, 'script');
</script>
-->

</body>
</html>
