---
layout: default
---

<div class="post">

<div id="prevnext">
  {% if page.previous %}
  <a href="{{page.previous.url}}" title="Previous: {{page.previous.title}}">&laquo;</a>
  {% else %}
  &laquo;
  {% endif %}
  {% if page.next %}
  <a href="{{page.next.url}}" title="Next: {{page.next.title}}">&raquo;</a>
  {% else %}
  &raquo;
  {% endif %}
</div>

<h1 id="title">
{{ page.title }}
</h1>

<div id="date">
{{ page.date|date:"%A, %d %B %Y" }}
</div>

<div id="post">
{{ content }}
</div>

{% if page.categories.size > 0 %}
<div id="tags">
<p>Tagged:
{% for tag in page.categories %}
{{ tag }}{% unless forloop.last %},{% endunless %}
{% endfor %}</p>
</div>
{% endif %}

</div>
